/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0056b3;
}

button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

input[type="number"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5rem 0;
}

#alimentos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.alimento {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fafafa;
    width: calc(33.333% - 1rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alimento img {
    max-width: 100%;
    border-radius: 8px;
}

#tabela-refeicoes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

#tabela-refeicoes th, #tabela-refeicoes td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

#tabela-refeicoes th {
    background-color: #007BFF;
    color: white;
}
